logic apps/logicapp.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Create_blob": {
                "inputs": {
                    "body": "@body('HTTP')",
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/datasets/default/files",
                    "queries": {
                        "folderPath": "/images",
                        "name": "@{body('Parse_JSON')?['id']}.jpg",
                        "queryParametersSingleEncoded": true
                    }
                },
                "runAfter": {
                    "HTTP": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "ApiConnection"
            },
            "Describe_Image": {
                "inputs": {
                    "body": "@body('HTTP')",
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['cognitiveservicescomputervision']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/vision/v2.0/describe",
                    "queries": {
                        "format": "Image Content"
                    }
                },
                "runAfter": {
                    "HTTP": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "For_each": {
                "actions": {
                    "Send_email_(V2)": {
                        "inputs": {
                            "body": {
                                "Body": "<p>@{items('For_each')?['text']}</p>",
                                "Subject": "image analysed for new speaker: @{body('Parse_JSON')?['name']}",
                                "To": "luisfb8@gmail.com"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['gmail']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/v2/Mail"
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    }
                },
                "foreach": "@body('Describe_Image')?['description']?['captions']",
                "runAfter": {
                    "Describe_Image": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "HTTP": {
                "inputs": {
                    "method": "GET",
                    "uri": "@body('Parse_JSON')?['headshotUri']"
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@triggerBody()?['data']",
                    "schema": {
                        "properties": {
                            "headshotUri": {
                                "type": "string"
                            },
                            "id": {
                                "type": "integer"
                            },
                            "location": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string"
                            },
                            "skills": {
                                "type": "string"
                            },
                            "title": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {},
                "type": "ParseJson"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_resource_event_occurs": {
                "inputs": {
                    "body": {
                        "properties": {
                            "destination": {
                                "endpointType": "webhook",
                                "properties": {
                                    "endpointUrl": "@{listCallbackUrl()}"
                                }
                            },
                            "topic": "/subscriptions/d456e408-7192-4138-b858-cad6d4dadc9f/resourceGroups/serverless-speakers/providers/Microsoft.EventGrid/topics/speakerDB"
                        }
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureeventgrid']['connectionId']"
                        }
                    },
                    "path": "/subscriptions/@{encodeURIComponent('d456e408-7192-4138-b858-cad6d4dadc9f')}/providers/@{encodeURIComponent('Microsoft.EventGrid.Topics')}/resource/eventSubscriptions",
                    "queries": {
                        "x-ms-api-version": "2017-09-15-preview"
                    }
                },
                "splitOn": "@triggerBody()",
                "type": "ApiConnectionWebhook"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azureblob": {
                    "connectionId": "/subscriptions/d456e408-7192-4138-b858-cad6d4dadc9f/resourceGroups/serverless-speakers/providers/Microsoft.Web/connections/azureblob",
                    "connectionName": "azureblob",
                    "id": "/subscriptions/d456e408-7192-4138-b858-cad6d4dadc9f/providers/Microsoft.Web/locations/northeurope/managedApis/azureblob"
                },
                "azureeventgrid": {
                    "connectionId": "/subscriptions/d456e408-7192-4138-b858-cad6d4dadc9f/resourceGroups/serverless-speakers/providers/Microsoft.Web/connections/azureeventgrid",
                    "connectionName": "azureeventgrid",
                    "id": "/subscriptions/d456e408-7192-4138-b858-cad6d4dadc9f/providers/Microsoft.Web/locations/northeurope/managedApis/azureeventgrid"
                },
                "cognitiveservicescomputervision": {
                    "connectionId": "/subscriptions/d456e408-7192-4138-b858-cad6d4dadc9f/resourceGroups/serverless-speakers/providers/Microsoft.Web/connections/cognitiveservicescomputervision",
                    "connectionName": "cognitiveservicescomputervision",
                    "id": "/subscriptions/d456e408-7192-4138-b858-cad6d4dadc9f/providers/Microsoft.Web/locations/northeurope/managedApis/cognitiveservicescomputervision"
                },
                "gmail": {
                    "connectionId": "/subscriptions/d456e408-7192-4138-b858-cad6d4dadc9f/resourceGroups/serverless-speakers/providers/Microsoft.Web/connections/gmail",
                    "connectionName": "gmail",
                    "id": "/subscriptions/d456e408-7192-4138-b858-cad6d4dadc9f/providers/Microsoft.Web/locations/northeurope/managedApis/gmail"
                }
            }
        }
    }
}